extends ../global/_template

block headTitleAndStyleToPage
  +head('Inicio','css/pages/links.css')

block bodyContent
  header.container
    a(href="/") Inicio
      i.fas.fa-home
    img(src=logo, alt="playes logo")
    h1 Enlaces
  main
    h2 Redes Sociales
    +social-block("twitch", "fab", "fa-twitch", "Twitch", "Stramings de juegos todos los días", "https://www.twitch.tv/playesdevelogamer")
    +social-block("facebook", "fab", "fa-facebook", "Facebook de juegos", "Stramings de juegos todos los días", "https://www.facebook.com/gaming/ElPlayesDevelogamer")
    +social-block("youtube", "fab", "fa-youtube", "Youtube", "Recopilaciones y competitivo", "https://www.youtube.com/channel/UCcYqQI1YihP30ZZCHdHGWjA")
    +social-block("discord", "fab", "fa-discord", "Discord", "Memes y comunidad", "https://discord.gg/zmS5hStXe3")
    +social-block("tiktok", "fab", "fa-tiktok", "Tiktok", "Clips y videos cortos", "https://www.tiktok.com/@playesentiktok")
    +social-block("instagram", "fab", "fa-instagram", "Instagram", "Fotos e historias de mi vida", "https://www.instagram.com/joeduardoreyes/")
    +social-block("facebook", "fab", "fa-facebook", "Facebook Personal", "Noticias, tips de desarrollo", "https://www.facebook.com/JoEduardoReyes/")
    +social-block("twitter", "fab", "fa-twitter", "Twitter", "Pensamientos y tips de desarollo", "https://twitter.com/JoEduardoReyes")
    +social-block("github", "fab", "fa-github", "Github", "Actualizaciones y proyectos", "https://github.com/JoEduardoReyes")
    +social-block("website", "fas", "fa-globe", "Website", "Blog post y más información", "http://joeduardoreyes.com")
    h2 Ilustraciones
    +social-block("instagram", "fab", "fa-instagram", "biscuitsart.design", "Ilustraciones y diseño", "https://www.instagram.com/biscuitsart.design/")
    +social-block("instagram", "fab", "fa-instagram", "cami_cortesia", "Ilustraciones de personajes", "https://www.instagram.com/cami_cortesia/")
    h2 Descargas y música
    +social-block("spotify", "fab", "fa-spotify", "Playeslist", "Selección persona de música", "https://open.spotify.com/playlist/6MXuiZBDyhbcec3aSKNCJ6?si=fcd69e0733b94242")