@import "../templates/page-template";

body {
  display: grid;
  @include grid-template-columns(100%);
  @include grid-template-rows(320px 1fr);
  grid-auto-flow: row;
  min-width: 320px;
  max-width: 420px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  img {
    width: 70%;
  }
  a {
    position: absolute;
    top: 0;
    left: 25px;
    cursor: pointer;
    i {
      margin-inline-start: 5px;
    }
  }
}

main {
  display: grid;
  @include grid-template-columns(100%);
  gap: 18px;
  grid-auto-flow: row;
  .link-wrapper {
    border-radius: 20px;
    border: 3px solid white;
    .link {
      padding-inline-start: 20px;
      display: flex;
      align-items: center;
      min-height: 78px;
      i {
        font-size: 6rem;
        width: 80px;
      }
    }
  }
  .twitch {
    background-color: $twitch-color;
  }
  .instagram {
    background-image: $instagram-color;
  }
  .facebook {
    background-color: $facebook-color;
  }
  .youtube {
    background-color: $youtube-color;
  }
  .tiktok {
    background-color: $tiktok-color;
    border-top-color: $tiktok-color-1-border;
    border-left-color: $tiktok-color-1-border;
    border-bottom-color: $tiktok-color-2-border;
    border-right-color: $tiktok-color-2-border;
  }
  .discord {
    background-color: $discord-color;
  }
  .twitter {
    background-color: $twitter-color;
  }
  .github {
    background-color: $github-color;
  }
  .website {
    background-color: $web-color;
  }
  .spotify {
    background-color: $spotify-color;
  }
  .google-drive {
    background-color: $google-black-color;
  }
}
